.heading{
    background-color: #388497;
    height: 80px;
    font-family :Arial, Helvetica, sans-serif;
}

.headerLogo {
    font-size: 40px;
    margin-left : 30px;
    padding: 18px;
    float: left;
    color: white;
}

/* BAGIAN LIST FORM */

li{
    list-style: none;
    float: left;
    font-size: 20px;
    color: white;
}

.list-head li{
    float : right;
}
.list-head a {
    float: right;
    transition: all 0.5s;
    line-height: 80px;
    padding: 0 20px;
    color: white;
    display: block;
   
}

/* BAGIAN WARNA PADA LINK */

/* posisi link di a tas font */
.list-head a:hover{
    background-color: #57bebe;
    color : rgb(255, 255, 255);
    border-top: 10px solid;
}
/* link biasa */
.list-head a:link{
   color: white; 
    
}

.list-head a:active{
    color : white    

}


/* posisi link telah di kunjungi */


.list-head a{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* BAGIAN LIST FORM */


.layout {
    margin: 5px auto;
    padding: 150px;
    background-image: url("../gambar/coding.jpg");
    background-size : cover;
    box-shadow: 10px 0px rgb(236, 236, 236);
    text-align: center;

}

.layout h1 {
    font-size: 90px;
    display: inline;
    color: #51abc2;
    font-family:monospace, sans-serif;
    text-shadow: 7px 4px #2c7a8d;
}
.layout span{
    color: rgb(233, 158, 59);
}
.layout p {
    color :rgb(233, 158, 59);
    font-size: 30px;
    font-family: Helvetica;
    
}

.container{
    width: 1170px;
    padding : 0 15px;
    margin : 0 auto;    

}

.heading-wrap{
    width: 90%;
    padding-left: 50px;
}
.heading-wrap h3{
    text-align: center;
    padding: 60px 0 20px 0;
    border-bottom: 2px solid rgb(209, 209, 208);
    color: rgb(233, 158, 59);
    font-family: monospace;
}
.lesson-wrapper{
    height: 500px;
}
.lesson{
    float: left;
    width: 30%;
}
.lesson-icon{
    position: relative;
}
.lesson-icon img{
    padding: 30px 120px 0px 120px;
    width: 250px;
}

.lesson-icon p{
    width: 480px;
    text-align: center;
    color : rgb(0, 0, 0);
    font-size: 18px;
    font-family: Helvetica;
}