body{
    margin : 0 auto;
    font-family: monospace;
}

.container{
    width: 1360px;
}

.heading{
    background-color: #388497;
    height: 80px;
    color: whitesmoke;
}

.header-logo {
    font-size: 40px;
    float : left;
    margin: 10px auto;
    color: rgb(255, 250, 176);
    padding-left: 40px;
    font-variant: small-caps;
    text-shadow: 15px 10px rgb(0, 0, 0);
    font-weight: bolder;
}

/* BAGIAN LIST FORM */  
.header-list{
    float: right;
    
}

.header-list a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
}   

.header-list li{
    float: left;
    transition: all 0.5s;
    list-style: none;
    padding-top: 15px;
} 
/* BAGIAN WARNA PADA LINK */

/* posisi link di a tas font */
.header-list a:hover{
    background-color: #68b9b9;
    width: 100%;
    color : rgb(255, 255, 255);

}
/* link saat di klik */
.header-list a:active{
    border-top: 10px solid #ffffff;
    background-color: #388497;
} 

/* BAGIAN LIST FORM */


.layout {
    padding: 150px;
    background-image: url("./gambar/coding.jpg");
    background-size : cover;
    text-align: center;
    height: 200px;
}

.layout h1 {
    font-size: 90px;
    display: inline;
    color: #51abc2;
    text-shadow: 7px 4px #2c7a8d;
}
.layout span{
    color: rgb(233, 158, 59);
}
.layout p {
    color :rgb(233, 158, 59);
    font-size:20px;
}


/*
.heading-wrap{
    width: 90%;
    padding-left: 50px;
}
.heading-wrap h3{
    text-align: center;
    padding: 60px 0 20px 0;
    border-bottom: 2px solid rgb(209, 209, 208);
    color: rgb(233, 158, 59);
    
}
.lesson-wrapper{
    height: 500px;
}
.lesson{
    float: left;
    width: 30%;
}
.lesson-icon{
    position: relative;
}
.lesson-icon img{
    padding: 30px 120px 0px 120px;
    width: 250px;
}

.lesson-icon p{
    width: 480px;
    text-align: center;
    color : rgb(0, 0, 0);
    font-size: 18px;
   
} */